/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  margin: 0;
  font-family: 'Poppins';
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

button {
  background: rgb(235, 235, 235);
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  margin: 5px 5px;
  font-size: 12pt;
  font-weight: bold;
  font-family: inherit;
  color: #3c3c3c;
}

button:hover {
  background: rgb(212, 212, 212);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: bold;
  border: 2px solid red;
  background: rgb(235, 235, 235);
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  margin: 5px 5px;
  display: inline-block; 
}

#moneyGif {
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

#hero-title {
  margin-bottom: 0;
}

#hero-desc {
  margin-top: 0;
  font-style: italic;
}

.header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-form-div {
  display: flex;
  gap: 20px;
}

.player-form {
  text-align: left;
}

.player-form > label {
  display: block;
}

input {
  margin-bottom: 20px;;
  width: 300px;
  height: 30px;
  border: 2px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'Poppins';
}

.player-form > p {
  font-weight: bold;
  font-size: 20px;
  color: #f2f2f2;
  text-align: center;
  background: rgb(141, 169, 207);
  border-radius: 5px;
  padding:6px 12px;
}

h1 {
  text-align: center;
}

.match-cards-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.match-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(141, 169, 207);
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
}

.match-card > h2 {
  color: #f2f2f2;
}

.view-notes-link {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: bold;
  background: rgb(235, 235, 235);
  padding: 0px 14px;
  border-radius: 5px;
  margin: 5px 0px 25px 0px;
  display: inline-block; 
}