services:
  db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: MbE62o3mB
      MYSQL_DATABASE: challengerArchive
      MYSQL_USER: snguru
      MYSQL_PASSWORD: MbE62o3mB
    ports:
      - "3310:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend/server
    ports:
      - "3001:3001"
    environment:
      DB_HOST: db
      DB_USER: snguru
      DB_PASSWORD: MbE62o3mB
      DB_NAME: challengerArchive
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data: